#{extends 'main.html' /}
<script type="text/javascript">
   	// support ws? 
    function hasWs() {
       	return "WebSocket" in window;
    }
        	
	// viewModel  
	function Port(data) {
   		this.videoPort = ko.observable(data.videoPort);
   		this.audioPort = ko.observable(data.audioPort);
   		this.enabled = ko.observable(data.enabled);
   		this.action = ko.observable(data.action);
   		this.name = ko.observable(data.name);
   		this.description = ko.observable(data.description);
   		this.selected = ko.observable(data.selected);
   		this.icon = ko.observable(data.icon);
   		this.id = ko.observable(data.id);
	}
		
	function Action(data) {
		this.userName = ko.observable(data.userName);
		this.actionType = ko.observable(data.actionType);
		this.date = ko.observable(data.date);
	}
			
	function ATVRepeaterViewModel() {
	    // Data 
    	var self = this;
    	self.ports = ko.observableArray([]);
    	self.actionHistory = ko.observableArray([]);
    	self.resetting = ko.observable(false);
    	self.errormsg = ko.observable("");
    	self.userName = ko.observable("[${user.username}]");
    	self.firstName = ko.observable("${user.firstName}");
    	self.isAdmin = ko.observable(${user.hasPermission("admin")});
    	self.canReset = ko.observable(${user.hasPermission("resetNicam")});

    	// Operations 
    	self.selectPort = function(port) {
    		port.selected(true);
    		if (port.action() == "SHOW_CHANNEL") {
    			$.ajax({url: "/select?port=" + port.seqNumber(), type: "post", success: self.update});
    		} else if (port.action() == "RESET_NICAM") {
    			$.ajax({url: "/reset", type: "post", success: self.update});
    		} else if (port.action() == "TOGGLE_SIZE") {
    			$.ajax({url: "/size", type: "post", success: self.update});
    		}
    	}

    	self.update = function(jsonData) {
			var mappedPorts = $.map(jsonData.ports, function(item) { return new Port(item) });
			var mappedActions = $.map(jsonData.actionHistory, function(item) { return new Action(item) });
    	    self.ports(mappedPorts);
    	    self.actionHistory(mappedActions);
    	    self.resetting(jsonData.resetting);
    	}
				
		self.onerror = function (jqXHR, timeout, message) {
			var contentType = jqXHR.getResponseHeader("Content-Type");
			if (jqXHR.status === 200 && contentType.toLowerCase().indexOf("text/html") >= 0) {
				// assume that our login has expired - reload our current page
				window.location.reload();
			} else if (jqXHR.status === 403) {
				self.errormsg("Actie niet toegestaan");
			} else if (jqXHR.status === 404) {
				self.errormsg("Resource niet gevonden");
			} else {
				self.errormsg("Onverwachte server fout");
			}
		}

		// Load initial state from server 
    	$.getJSON("@{Application.show()}", self.update);
 	}

	var socket;

	// on page init 
	$(document).ready(function() {
		viewModel = new ATVRepeaterViewModel();
		if (hasWs()) {
	        // Create a socket 
	    	socket = new WebSocket("@@{Application.WebSocket.listen()}");
	       	// Socket message handler 
	       	socket.onmessage = function(event) {
	       		jsonData = JSON.parse(event.data);
	       		viewModel.update(jsonData);
	       	};
		} else {
			setInterval(function() {
				$.getJSON("@{Application.show()}", viewModel.update);
			}, 10000);
		}
		// Activate Knockout 
	    ko.applyBindings(viewModel);
	});
</script>
<div class="page secondary fixed-header">
    <div class="page-header ">
        <div class="page-header-content">
            <div class="user-login">
                <div class="name">
                    <span class="first-name" data-bind="text: firstName"></span>
                    <span class="last-name" data-bind="text: userName"></span>
                </div>
                <div class="avatar fg-color-white icon-switch" onclick="window.location='@{Secure.logout()}'" style="font-size: 1.4em"></div>
                <div class="avatar fg-color-white icon-cog" onclick="window.location='@{CRUD.index()}'" data-bind="visible: isAdmin" style="font-size: 1.4em"></div>
            </div>

            <h1>ATV Repeater<small>Heerhugowaard</small></h1>
        </div>
    </div>

	<div class="page-region">
        <div class="page-region-content tiles">
            <div class="tile-group" style="width: 400px">

                <div class="tile triple bg-color-orangeDark" data-role="tile-slider" data-param-period="3000"">
                    <div class="tile-content">
                    	<h2 class="icon-enter"></h2>
                        <h3><small>Jeroen is ingelogd op 13-01-2013 om 17:21</small></h3> 
						<p></p>
                    </div>
                    <div class="tile-content">
                    	<h2 class="icon-camera-2"></h2>
                        <h3>Martijn schakelt video</h3> 
						<p>op 13-01-2013 14:59</p>
                    </div>
                    <div class="tile-content">
                    	<h2 class="icon-volume-2"></h2>
                        <h3>Johan schakelt audio</h3> 
						<p>13-01-2013 14:46</p>
                    </div>
                    <div class="tile-content">
                    	<h2 class="icon-lightning"></h2>
                        <h3>Johan reset nicam</h3> 
						<p>13-01-2013 14:46</p>
                    </div>
                    <div class="tile-content">
                    	<h2 class="icon-exit"></h2>
                        <h3>Johan is uitgelogd</h3> 
						<p>13-01-2013 14:46</p>
                    </div>
                    <div class="tile-content">
                    	<h2 class="icon-comments-3"></h2>
                        <h3>Jeroen roept:</h3> 
						<p>13-01-2013 14:46</p>
                    </div>
                    <div class="brand">
                        <span class="name">Laatste acties</span>
                    </div>
                </div>
            
                <div class="tile triple double-vertical image" style="background-color: #000000">
                    <div class="tile-content">
                        <object id="wmp" width="380" height="220" classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" type="application/x-ms-wmp">
							<param name="uiMode" value="none" />
							<param name="stretchToFit" value="true" />
							<param name="autoStart" value="true" />
	       					<param name="mute" value="true" />
	       					<param name="url" value="mms://stream.pi6nhn.nl:2551" />
	       					<embed type="application/x-ms-wmp" width="380" height="220" mute="1" url="mms://stream.pi6nhn.nl:2551" uiMode="none" />
	       				</object>
                    </div>
                    <div class="tile-status bg-color-greenLight">
                        <span class="name">Live stream</span>
                        <div class="badge icon-camera-2"></div>
                    </div>
                </div>

                <div class="tile image-slider" data-role="tile-slider" data-param-direction="left">
                    <div class="tile-content">
                        <img src="@{'/public/images/sb2-img1.png'}" />
                    </div>
                    <div class="tile-content">
                        <img src="@{'/public/images/sb2-img2.png'}" />
                    </div>
                    <div class="tile-content">
                        <img src="@{'/public/images/sb2-img3.png'}" />
                    </div>
                </div>

                <div class="tile double bg-color-pink" data-role="tile-slider" data-param-period="3000">
                    <div class="tile-content">
                        <div class="input-control text">
        					<input type="text" class="bg-color-grayDark" placeholder="Shout!" />
        					<button class="helper bg-color-red"></button>
    					</div>
    	                <div class="input-control">
        					<input type="button" value="klikkerdeklik" onclick="this.disabled=true;" />
        					<button class="helper bg-color-red"></button>
    					</div>
                    </div>
                    <div class="brand">
                        <div class="badge">10</div>
                        <div class="name">Mail</div>
                    </div>

                </div>

			</div>
			<div class="tile-group"  style="width: 520px">
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                    </div>
                    <div class="brand">
                        <span class="name">Jeroen</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Martijn</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Johan</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Edwin</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                    	<span class="badge icon-volume"></span>
                        <span class="name">Gast 1</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                       <h2 class="icon-grid-view"></h2> 
                    </div>
                    <div class="brand">
                        <span class="name">2 x 2</span>
                    </div>
                </div>
			    <div class="tile disabled bg-dyna">
                    <div class="tile-content">
                        <h2 class="icon-lightning"></h2>
                    </div>
                    <div class="brand">
                        <span class="name">Reset nicam</span>
                        <span class="badge">7</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
	                    <span class="badge icon-volume-2"></span>
                        <span class="name">Gast 2</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Gast 3</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
						<h2 class="icon-new-tab-2"></h2>                        
                    </div>
                    <div class="brand">
                        <span class="name">Full screen</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        <h2 class="icon-camera-2"></h2>
                    </div>
                    <div class="brand">
                        <span class="name">Webcam</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Gast 4</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Gast 5</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Gast 6</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Gast 7</span>
                    </div>
                </div>
			    <div class="tile opacity bg-dyna outline-color-white">
                    <div class="tile-content">
                        
                    </div>
                    <div class="brand">
                        <span class="name">Gast 8</span>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

